docs/n8n_workflow_editar_contestacao.json
{
  "id": "WF_AUTOJURI_EDITAR_CONTESTACAO",
  "name": "AutoJuri - Webhook Editar Contestacao",
  "description": "Webhook POST /editar-contestacao -> recebe texto extraido + 3 campos novos -> chama Claude para listar pares antigo<->novo (modo extracao, temperatura 0.0) -> responde JSON {substituicoes, campos_ausentes}. NAO edita o arquivo: o backend (FastAPI + python-docx) eh quem aplica as substituicoes preservando formatacao.",
  "active": true,
  "createdAt": "2026-04-29T00:00:00.000Z",
  "updatedAt": "2026-04-29T00:00:00.000Z",
  "nodes": [
    {
      "id": "node-wh-editar",
      "name": "Webhook Editar Contestacao",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "editar-contestacao",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "autojuri-editar-contestacao-webhook"
    },
    {
      "id": "node-validar-edicao",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Valida o payload vindo do backend FastAPI antes de chamar Claude.\n// O backend ja sanitiza, mas validamos novamente para defesa em profundidade.\n\nconst item = $input.first();\nconst raw = item.json?.body ?? item.json ?? {};\nconst now = new Date().toISOString();\n\nconst texto_documento = String(raw.texto_documento || '').trim();\nconst campos_novos = raw.campos_novos || {};\nconst nome = campos_novos.nome ? String(campos_novos.nome).trim() : null;\nconst numero_processo = campos_novos.numero_processo ? String(campos_novos.numero_processo).trim() : null;\nconst valor_causa = campos_novos.valor_causa ? String(campos_novos.valor_causa).trim() : null;\n\nconst erros = [];\nif (!texto_documento) erros.push('texto_documento obrigatorio');\nif (!nome && !numero_processo && !valor_causa) erros.push('pelo menos um campo novo deve ser informado');\nif (texto_documento.length > 200000) erros.push('texto_documento excede 200000 caracteres');\n\nif (erros.length > 0) {\n  return [{ json: { status: 'erro_validacao', mensagem: 'Falha de validacao no workflow.', erros, recebido_em: now } }];\n}\n\nreturn [{ json: { status: 'entrada_validada', contexto: { texto_documento, campos_novos: { nome, numero_processo, valor_causa } }, recebido_em: now } }];\n"
      }
    },
    {
      "id": "node-agente-claude-edicao",
      "name": "Agente Claude (Modo Extracao)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Chama Claude em modo extracao (temperatura 0.0) para identificar pares\n// antigo<->novo no texto. Sem criatividade, sem alucinacao.\n//\n// Resposta esperada (JSON estrito):\n// {\n//   \"substituicoes\": [{\"campo\":\"nome\",\"antigo\":\"...\",\"novo\":\"...\",\"ocorrencias_esperadas\":N}, ...],\n//   \"campos_ausentes\": [\"valor_causa\"]\n// }\n\nconst readEnv = (key, fb = '') => {\n  try {\n    if (typeof $vars !== 'undefined' && $vars && $vars[key]) return String($vars[key]).trim();\n    return ($env && $env[key]) ? String($env[key]).trim() : (process.env[key] || fb);\n  } catch { return process.env[key] || fb; }\n};\n\nconst stripFences = s => {\n  const cleaned = String(s || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return cleaned;\n  return cleaned.slice(first, last + 1);\n};\n\nconst envelope = $input.first().json;\nif (envelope.status === 'erro_validacao') return [{ json: envelope }];\n\nconst { contexto, recebido_em } = envelope;\nconst { texto_documento, campos_novos } = contexto;\n\nconst ANTHROPIC_KEY = readEnv('ANTHROPIC_API_KEY') || readEnv('CLAUDE_API_KEY');\nconst CLAUDE_MODEL = readEnv('CLAUDE_MODEL') || 'claude-sonnet-4-6';\nconst BASE_URL = (readEnv('ANTHROPIC_BASE_URL') || 'https://api.anthropic.com').replace(/\\/$/, '');\nconst API_VERSION = readEnv('ANTHROPIC_VERSION') || '2023-06-01';\nconst MAX_TOKENS = 1500;\nconst TEMPERATURE = 0.0;\nconst TIMEOUT_MS = Math.max(10000, parseInt(readEnv('CLAUDE_TIMEOUT_MS', '60000'), 10) || 60000);\n\nconst SYSTEM_PROMPT = `Voce eh um agente de edicao ciruurgica de documentos juridicos brasileiros.\nRecebera o texto extraido de uma contestacao em .docx e ate 3 campos novos\n(nome, numero_processo, valor_causa). Sua tarefa eh identificar a OCORRENCIA\nPRINCIPAL de cada campo no texto antigo e listar pares antigo<->novo.\n\nResponda SOMENTE com JSON valido (sem markdown, sem codeblock), com este schema:\n{\n  \"substituicoes\": [\n    {\"campo\": \"nome\",            \"antigo\": \"...\", \"novo\": \"...\", \"ocorrencias_esperadas\": N},\n    {\"campo\": \"numero_processo\", \"antigo\": \"...\", \"novo\": \"...\", \"ocorrencias_esperadas\": N},\n    {\"campo\": \"valor_causa\",     \"antigo\": \"...\", \"novo\": \"...\", \"ocorrencias_esperadas\": N}\n  ],\n  \"campos_ausentes\": [\"valor_causa\"]\n}\n\nREGRAS RIGOROSAS:\n- Se um campo NOVO foi pedido mas NAO existe no texto, inclua-o em\n  \"campos_ausentes\" e NAO crie substituicao para ele.\n- \"antigo\" deve ser uma string EXATA do texto (case-sensitive, espacos\n  exatos, sem reformatar).\n- NAO invente ocorrencias. NAO faca outras alteracoes alem das pedidas.\n- \"ocorrencias_esperadas\" eh o numero EXATO de vezes que \"antigo\" aparece\n  no texto. Conte com cuidado — o backend abortara se divergir.\n- Para o campo \"nome\": identifique o nome da parte (Reclamado/Reu/Contestante).\n  Use o nome COMPLETO como aparece (\"Janaina Pereira da Silva Matos\", nao\n  apenas \"Janaina\").\n- Para \"numero_processo\": identifique no formato CNJ\n  (XXXXXXX-XX.XXXX.X.XX.XXXX). Capture o numero EXATO.\n- Para \"valor_causa\": identifique valor monetario brasileiro (R$ X.XXX,XX)\n  tipicamente apos rotulos como \"valor da causa\", \"valor atribuido\".\n- Se houver MULTIPLAS ocorrencias do antigo, conte todas e liste apenas UMA\n  entrada com o total em ocorrencias_esperadas (a substituicao sera global).`;\n\nconst USER_MSG = `TEXTO_DOCUMENTO:\\n${texto_documento}\\n\\nCAMPOS_NOVOS:\\n${JSON.stringify(campos_novos, null, 2)}`;\n\nfunction buildFallback(motivo) {\n  return {\n    substituicoes: [],\n    campos_ausentes: Object.keys(campos_novos).filter(k => campos_novos[k]),\n    _fallback_motivo: motivo\n  };\n}\n\nlet resposta = null;\nlet provider = 'fallback_local';\nlet apiError = null;\n\nif (!ANTHROPIC_KEY) {\n  apiError = 'ANTHROPIC_API_KEY nao configurada';\n} else {\n  const controller = new AbortController();\n  const timer = setTimeout(() => controller.abort(), TIMEOUT_MS);\n  try {\n    const resp = await fetch(`${BASE_URL}/v1/messages`, {\n      method: 'POST',\n      headers: {\n        'x-api-key': ANTHROPIC_KEY,\n        'anthropic-version': API_VERSION,\n        'content-type': 'application/json',\n        'anthropic-beta': 'prompt-caching-2024-07-31'\n      },\n      body: JSON.stringify({\n        model: CLAUDE_MODEL,\n        max_tokens: MAX_TOKENS,\n        temperature: TEMPERATURE,\n        system: [{ type: 'text', text: SYSTEM_PROMPT, cache_control: { type: 'ephemeral' } }],\n        messages: [{ role: 'user', content: USER_MSG }]\n      }),\n      signal: controller.signal\n    });\n    if (!resp.ok) {\n      const e = await resp.text().catch(() => '');\n      throw new Error(`HTTP ${resp.status}: ${e.slice(0, 200)}`);\n    }\n    const payload = await resp.json();\n    const raw = (payload.content || []).filter(b => b.type === 'text').map(b => b.text).join('').trim();\n    if (!raw) throw new Error('resposta_ia_sem_conteudo');\n    try {\n      resposta = JSON.parse(stripFences(raw));\n      provider = 'claude';\n    } catch (e) {\n      throw new Error(`json_parse_error: ${e.message}`);\n    }\n  } catch (e) {\n    apiError = e.name === 'AbortError' ? `timeout_${TIMEOUT_MS}ms` : e.message;\n  } finally {\n    clearTimeout(timer);\n  }\n}\n\nif (!resposta) resposta = buildFallback(apiError || 'sem_chave');\n\n// Sanitiza estrutura — garante shape exato esperado pelo backend.\nconst substituicoes = Array.isArray(resposta.substituicoes) ? resposta.substituicoes : [];\nconst campos_ausentes = Array.isArray(resposta.campos_ausentes) ? resposta.campos_ausentes : [];\n\nconst substituicoes_validas = substituicoes\n  .filter(s => s && typeof s === 'object' && s.campo && s.antigo && s.novo && Number.isInteger(s.ocorrencias_esperadas) && s.ocorrencias_esperadas >= 1)\n  .map(s => ({\n    campo: String(s.campo),\n    antigo: String(s.antigo),\n    novo: String(s.novo),\n    ocorrencias_esperadas: parseInt(s.ocorrencias_esperadas, 10)\n  }));\n\nreturn [{\n  json: {\n    status: 'ok',\n    substituicoes: substituicoes_validas,\n    campos_ausentes: campos_ausentes.map(c => String(c)),\n    engine_ia: {\n      provider,\n      model: provider === 'claude' ? CLAUDE_MODEL : 'fallback_local',\n      temperature: TEMPERATURE,\n      max_tokens: MAX_TOKENS,\n      api_error: apiError\n    },\n    recebido_em,\n    processado_em: new Date().toISOString()\n  }\n}];\n"
      }
    },
    {
      "id": "node-responder-edicao",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [960, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.first().json }}",
        "options": { "responseCode": 200 }
      }
    }
  ],
  "connections": {
    "Webhook Editar Contestacao": {
      "main": [[{ "node": "Validar Entrada", "type": "main", "index": 0 }]]
    },
    "Validar Entrada": {
      "main": [[{ "node": "Agente Claude (Modo Extracao)", "type": "main", "index": 0 }]]
    },
    "Agente Claude (Modo Extracao)": {
      "main": [[{ "node": "Responder", "type": "main", "index": 0 }]]
    }
  }
}
