docs/n8n_workflow_contestar_por_peticao.json
{
  "id": "WF_AUTOJURI_CONTESTAR_POR_PETICAO",
  "name": "AutoJuri - Webhook Contestar por Peticao",
  "description": "Webhook POST /contestar-por-peticao -> recebe texto extraido da peticao inicial (extracao no backend) -> Claude extrai dados estruturados -> RAG no Supabase para defesas anteriores -> Claude gera minuta JSON ponto a ponto -> backend monta o .docx final | PR6 #4: RAG Semantico (pgvector <=>), fallback TF-IDF.",
  "active": true,
  "createdAt": "2026-05-06T00:00:00.000Z",
  "updatedAt": "2026-05-14T00:00:00.000Z",
  "nodes": [
    {
      "id": "node-wh-peticao",
      "name": "Webhook Contestar por Peticao",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "contestar-por-peticao",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "autojuri-contestar-por-peticao-webhook"
    },
    {
      "id": "node-validar-peticao",
      "name": "Validar Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Valida payload vindo do backend (texto ja extraido).\n\n// PR9 P3.3 — valida Authorization Bearer quando N8N_WEBHOOK_AUTH_TOKEN setado\nconst __PROC = (() => { try { return process.env || {}; } catch (_) { return {}; } })();\nconst EXPECTED_TOKEN = (__PROC.N8N_WEBHOOK_AUTH_TOKEN || '').trim();\nif (EXPECTED_TOKEN) {\n  const headers = $input.first().json?.headers || {};\n  const authHeader = String(headers.authorization || headers.Authorization || '');\n  const receivedToken = authHeader.replace(/^Bearer\\s+/i, '').trim();\n  if (receivedToken !== EXPECTED_TOKEN) {\n    return [{ json: { status: 'erro_auth', mensagem: 'Token invalido ou ausente.', codigo: 401 } }];\n  }\n}\n\nconst item = $input.first();\nconst raw = item.json?.body ?? item.json ?? {};\nconst now = new Date().toISOString();\n\nconst texto_peticao = String(raw.texto_peticao || '').trim();\nconst modelo_base_texto = String(raw.modelo_base_texto || '').trim();\nconst tipo_acao_hint = String(raw.tipo_acao_hint || '').trim();\nconst pontos_contestante = String(raw.pontos_contestante || '').trim();\nconst usuario_id = String(raw.usuario_id || '').trim();\nconst dados_extraidos_pre_validados = (raw.dados_extraidos_pre_validados && typeof raw.dados_extraidos_pre_validados === 'object') ? raw.dados_extraidos_pre_validados : null;\n\n// No modo revisao humana (HiL), o extrator e bypassado e os dados ja vem\n// validados pelo advogado — texto_peticao nao e necessario.\nif (!dados_extraidos_pre_validados) {\n  if (!texto_peticao || texto_peticao.length < 50) {\n    return [{ json: {\n      status: 'erro_validacao',\n      mensagem: 'texto_peticao obrigatorio com pelo menos 50 caracteres.',\n      recebido_em: now\n    }}];\n  }\n\n  if (texto_peticao.length > 100000) {\n    return [{ json: {\n      status: 'erro_validacao',\n      mensagem: 'texto_peticao excede 100000 caracteres.',\n      recebido_em: now\n    }}];\n  }\n}\n\nreturn [{ json: {\n  status: 'entrada_validada',\n  contexto: { texto_peticao, modelo_base_texto, tipo_acao_hint, pontos_contestante, usuario_id, dados_extraidos_pre_validados },\n  recebido_em: now\n}}];\n"
      }
    },
    {
      "id": "node-extrator-peticao",
      "name": "Claude Extrator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n 2.17.5 JS sandbox shims (process, AbortController, fetch). Tudo em const.\nconst __AC_INIT = (() => { if (typeof globalThis.AbortController === 'undefined') { globalThis.AbortController = class { constructor() { this.signal = undefined; } abort() {} }; } return true; })();\nconst __PROC = (() => { try { return process.env || {}; } catch (_) { return {}; } })();\nconst __HTTP = (() => { try { if ($helpers && $helpers.httpRequest) return $helpers; } catch (_) {} try { if (typeof helpers !== 'undefined' && helpers && helpers.httpRequest) return helpers; } catch (_) {} try { if (this && this.helpers && this.helpers.httpRequest) return this.helpers; } catch (_) {} return null; })();\nconst __FETCH = async (url, opts) => {\n  opts = opts || {};\n  const method = opts.method || 'GET';\n  const headers = opts.headers || {};\n  let body = opts.body;\n  if (typeof body === 'string') { try { body = JSON.parse(body); } catch (_) { /* mantem string */ } }\n  if (!__HTTP) {\n    try { const r = await fetch(url, opts); return r; } catch (_) {}\n    throw new Error('http_unavailable: nem $helpers.httpRequest nem fetch global no sandbox');\n  }\n  try {\n    const r = await __HTTP.httpRequest({ url, method, headers, body, json: true, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    const status = r.statusCode || r.status || 200;\n    const data = (r.body !== undefined) ? r.body : r;\n    return {\n      ok: status >= 200 && status < 300, status,\n      json: async () => data,\n      text: async () => (typeof data === 'string' ? data : JSON.stringify(data || {})),\n    };\n  } catch (e) {\n    const status = e.statusCode || e.status || 500;\n    const msg = (e.message || '').slice(0, 500);\n    return { ok: false, status, json: async () => ({ error: msg }), text: async () => msg };\n  }\n};\n\n// PR9 P1.3 — retry com backoff exponencial para erros 429/529 da Anthropic\nasync function callClaudeWithRetry(url, opts, maxRetries) {\n  const RETRIES = maxRetries || 3;\n  const BACKOFF = [1000, 2000, 4000];\n  let lastErr = null;\n  for (let i = 0; i < RETRIES; i++) {\n    try {\n      const r = await __FETCH(url, opts);\n      // Se 429/529, aguarda e tenta de novo\n      if (r.status === 429 || r.status === 529) {\n        if (i < RETRIES - 1) {\n          await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n          lastErr = { status: r.status, msg: `rate_limit_${r.status}` };\n          continue;\n        }\n      }\n      return r;\n    } catch (e) {\n      lastErr = { status: 500, msg: e.message || String(e) };\n      if (i < RETRIES - 1) {\n        await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n        continue;\n      }\n    }\n  }\n  // Se chegou aqui, todas falharam — retorna ultimo resp ou erro fake\n  return { ok: false, status: (lastErr && lastErr.status) || 500, json: async () => ({ error: (lastErr && lastErr.msg) || 'all_retries_failed' }), text: async () => (lastErr && lastErr.msg) || 'all_retries_failed' };\n}\n\nconst envelope = $input.first().json;\nif (envelope.status === 'erro_validacao') return [{ json: envelope }];\n// PR5 HiL: se o backend enviou dados pre-validados (humano revisou apos baixa confianca), pula Claude e usa-os direto.\nconst __preValidated = envelope?.contexto?.dados_extraidos_pre_validados;\nif (__preValidated && typeof __preValidated === 'object') {\n  return [{ json: { ...envelope, status: 'dados_extraidos', dados_extraidos: __preValidated, engine_extracao: { provider: 'humano_pre_validado', model: null, api_error: null } } }];\n}\n\n\nconst { contexto, recebido_em } = envelope;\n\nconst readEnv = (key, fb = '') => {\n  try {\n    if (typeof $vars !== 'undefined' && $vars && $vars[key]) return String($vars[key]).trim();\n    return ($env && $env[key]) ? String($env[key]).trim() : (__PROC[key] || fb);\n  } catch { return __PROC[key] || fb; }\n};\n\nconst stripFences = s => {\n  const cleaned = String(s || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return cleaned;\n  return cleaned.slice(first, last + 1);\n};\n\nconst ANTHROPIC_KEY = readEnv('ANTHROPIC_API_KEY') || readEnv('CLAUDE_API_KEY');\nconst CLAUDE_MODEL = readEnv('CLAUDE_EXTRACAO_MODEL') || readEnv('CLAUDE_MODEL') || 'claude-sonnet-4-6';\nconst BASE_URL = (readEnv('ANTHROPIC_BASE_URL') || 'https://api.anthropic.com').replace(/\\/$/, '');\nconst API_VERSION = readEnv('ANTHROPIC_VERSION') || '2023-06-01';\nconst TIMEOUT_MS = 60000;\n\nconst SYSTEM_EXTRACAO = `Voce eh um extrator de dados juridicos brasileiros.\nSua unica funcao eh ler uma peticao inicial e retornar JSON estruturado.\nNao invente dados. Se um campo nao estiver claro, use null.\nRetorne SOMENTE JSON valido, sem markdown, sem codeblock.`;\n\nconst USER_EXTRACAO = `Leia a peticao abaixo e extraia os dados.\n\nPETICAO:\n${contexto.texto_peticao}\n\n${contexto.tipo_acao_hint ? `HINT DO TIPO DE ACAO: ${contexto.tipo_acao_hint}` : ''}\n\nRetorne exatamente este JSON:\n{\n  \"numero_processo\": \"string ou null\",\n  \"autor\": \"nome do reclamante/autor\",\n  \"reu\": \"nome do reclamado/reu\",\n  \"tipo_acao\": \"tipo da acao (ex: Trabalhista - Horas Extras, Direito do Consumidor)\",\n  \"vara\": \"vara/tribunal se mencionado ou null\",\n  \"fatos_resumo\": \"resumo dos fatos em 3-5 paragrafos, na voz do autor\",\n  \"pedidos\": [\"pedido 1\", \"pedido 2\"],\n  \"valores\": {\"total_estimado\": \"valor total ou null\"},\n  \"argumentos_autor\": [\"argumento 1\", \"argumento 2\"],\n  \"pontos_vulneraveis\": [\"ponto fraco 1 para contestar\"],\n  \"confianca\": 0.9\n}`;\n\nlet dados_extraidos = null;\nlet erro_extracao = null;\nlet tokens_input = 0, tokens_output = 0;\nlet provider = 'fallback';\n\nif (!ANTHROPIC_KEY) {\n  erro_extracao = 'ANTHROPIC_API_KEY nao configurada';\n} else {\n  try {\n    const resp = await callClaudeWithRetry(`${BASE_URL}/v1/messages`, {\n      method: 'POST',\n      headers: {\n        'x-api-key': ANTHROPIC_KEY,\n        'anthropic-version': API_VERSION,\n        'content-type': 'application/json',\n        'anthropic-beta': 'prompt-caching-2024-07-31'\n      },\n      body: JSON.stringify({\n        model: CLAUDE_MODEL,\n        max_tokens: 2000,\n        temperature: 0,\n        system: [{ type: 'text', text: SYSTEM_EXTRACAO, cache_control: { type: 'ephemeral' } }],\n        messages: [{ role: 'user', content: USER_EXTRACAO }]\n      })\n    });\n    if (!resp.ok) {\n      const e = await resp.text().catch(() => '');\n      throw new Error(`HTTP ${resp.status}: ${e.slice(0, 200)}`);\n    }\n    const payload = await resp.json();\n    // PR9 P3.1 — extrai tokens da resposta para observabilidade de custo\n    if (payload && payload.usage) {\n      tokens_input = parseInt(payload.usage.input_tokens, 10) || 0;\n      tokens_output = parseInt(payload.usage.output_tokens, 10) || 0;\n    }\n    const raw = (payload.content || []).filter(b => b.type === 'text').map(b => b.text).join('').trim();\n    if (!raw) throw new Error('resposta_ia_sem_conteudo');\n    dados_extraidos = JSON.parse(stripFences(raw));\n    provider = 'claude';\n  } catch (e) {\n    erro_extracao = e.__TIMED_OUT === true ? `timeout_${TIMEOUT_MS}ms` : e.message;\n  } finally {\n    }\n}\n\nif (!dados_extraidos) {\n  // Fallback minimo\n  dados_extraidos = {\n    numero_processo: null,\n    autor: 'Autor a identificar',\n    reu: 'Reu a identificar',\n    tipo_acao: contexto.tipo_acao_hint || 'Nao identificado',\n    vara: null,\n    fatos_resumo: contexto.texto_peticao.slice(0, 2000),\n    pedidos: [],\n    valores: {},\n    argumentos_autor: [],\n    pontos_vulneraveis: [],\n    confianca: 0.1,\n    _erro_extracao: erro_extracao\n  };\n}\n\nreturn [{ json: {\n  ...envelope,\n  status: 'dados_extraidos',\n  dados_extraidos,\n  engine_extracao: { provider, model: CLAUDE_MODEL, api_error: erro_extracao, tokens_input, tokens_output, tokens_total: tokens_input + tokens_output, custo_estimado_usd: tokens_input || tokens_output ? parseFloat(((tokens_input/1000000*3) + (tokens_output/1000000*15)).toFixed(6)) : 0 }\n}}];\n"
      }
    },
    {
      "id": "node-buscar-defesas-peticao",
      "name": "Buscar Defesas Anteriores Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n 2.17.5 JS sandbox shims (process, AbortController, fetch). Tudo em const.\nconst __AC_INIT = (() => { if (typeof globalThis.AbortController === 'undefined') { globalThis.AbortController = class { constructor() { this.signal = undefined; } abort() {} }; } return true; })();\nconst __PROC = (() => { try { return process.env || {}; } catch (_) { return {}; } })();\nconst __HTTP = (() => { try { if ($helpers && $helpers.httpRequest) return $helpers; } catch (_) {} try { if (typeof helpers !== 'undefined' && helpers && helpers.httpRequest) return helpers; } catch (_) {} try { if (this && this.helpers && this.helpers.httpRequest) return this.helpers; } catch (_) {} return null; })();\nconst __FETCH = async (url, opts) => {\n  opts = opts || {};\n  const method = opts.method || 'GET';\n  const headers = opts.headers || {};\n  let body = opts.body;\n  if (typeof body === 'string') { try { body = JSON.parse(body); } catch (_) { /* mantem string */ } }\n  if (!__HTTP) {\n    try { const r = await fetch(url, opts); return r; } catch (_) {}\n    throw new Error('http_unavailable: nem $helpers.httpRequest nem fetch global no sandbox');\n  }\n  try {\n    const r = await __HTTP.httpRequest({ url, method, headers, body, json: true, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    const status = r.statusCode || r.status || 200;\n    const data = (r.body !== undefined) ? r.body : r;\n    return {\n      ok: status >= 200 && status < 300, status,\n      json: async () => data,\n      text: async () => (typeof data === 'string' ? data : JSON.stringify(data || {})),\n    };\n  } catch (e) {\n    const status = e.statusCode || e.status || 500;\n    const msg = (e.message || '').slice(0, 500);\n    return { ok: false, status, json: async () => ({ error: msg }), text: async () => msg };\n  }\n};\n\nconst envelope = $input.first().json;\nif (envelope.status === 'erro_validacao') {\n  return [{ json: envelope }];\n}\n\nconst dados = envelope.dados_extraidos || {};\n\nconst readEnv = (key, fb = '') => {\n  try {\n    if (typeof $vars !== 'undefined' && $vars && $vars[key]) return String($vars[key]).trim();\n    return ($env && $env[key]) ? String($env[key]).trim() : (__PROC[key] || fb);\n  } catch { return __PROC[key] || fb; }\n};\n\nconst SAFE_TIPO_RX = /^[\\w\\s\\u00C0-\\u00FF\\-().]{1,100}$/;\nconst SAFE_NUMERO_RX = /^[\\w\\-./]{1,40}$/;\nconst tipoRaw = String(dados.tipo_acao || '').trim();\nconst numeroRaw = String(dados.numero_processo || 'sem-numero').trim();\n\nconst BACKEND_URL = readEnv('BACKEND_URL', 'http://autojuri_backend:8000');\nconst ADMIN_TOKEN = readEnv('BACKEND_ADMIN_TOKEN', '');\n\n// PR6 #4 RAG Semantico: tenta backend primeiro (pgvector <=>), cai em TF-IDF se indisponivel.\nlet defesas_anteriores = null;\n\nif (ADMIN_TOKEN && tipoRaw && SAFE_TIPO_RX.test(tipoRaw)) {\n  try {\n    const pedidosArr = Array.isArray(dados.pedidos) ? dados.pedidos : [];\n    const rag_resp = await __FETCH(BACKEND_URL + '/api/rag/defesas-similares', {\n      method: 'POST',\n      headers: { 'Authorization': 'Bearer ' + ADMIN_TOKEN, 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        tipo_acao: tipoRaw,\n        numero_processo: numeroRaw,\n        fatos: dados.fatos_resumo || '',\n        pedidos: pedidosArr,\n      }),\n    });\n    if (rag_resp.ok) {\n      const rag_data = await rag_resp.json();\n      // sucesso ou sem_resultados -> usa resultado semantico\n      // embedding_indisponivel / erro -> defesas_anteriores continua null -> cai no TF-IDF\n      if (rag_data && (rag_data.status === 'sucesso' || rag_data.status === 'sem_resultados')) {\n        defesas_anteriores = rag_data;\n      }\n    }\n  } catch (_) { /* falha de rede -> TF-IDF */ }\n}\n\n// Fallback TF-IDF (comportamento original inalterado)\nif (!defesas_anteriores) {\n  const SUPABASE_URL = readEnv('SUPABASE_URL');\n  const SUPABASE_KEY = readEnv('SUPABASE_PUBLISHABLE_KEY') || readEnv('SUPABASE_ANON_KEY') || readEnv('SUPABASE_SERVICE_ROLE_KEY');\n\n  if (!SUPABASE_URL || !SUPABASE_KEY) {\n    defesas_anteriores = { status: 'sem_credenciais', detalhe: 'SUPABASE nao configurado', casos: [], total: 0 };\n  } else if (!tipoRaw || !SAFE_TIPO_RX.test(tipoRaw) || !SAFE_NUMERO_RX.test(numeroRaw)) {\n    defesas_anteriores = { status: 'input_invalido', detalhe: 'tipo_acao/numero_processo invalidos', casos: [], total: 0 };\n  } else {\n    function tokenize(text) {\n      return (text || '').toLowerCase()\n        .normalize('NFD').replace(/\\p{Diacritic}/gu, '')\n        .replace(/[^a-z0-9\\s]/g, ' ')\n        .split(/\\s+/).filter(t => t.length > 2);\n    }\n    function buildTF(tokens) {\n      const tf = {};\n      for (const t of tokens) tf[t] = (tf[t] || 0) + 1;\n      const total = tokens.length || 1;\n      for (const t in tf) tf[t] /= total;\n      return tf;\n    }\n    function cosineSimilarity(tfA, tfB) {\n      let dot = 0, normA = 0, normB = 0;\n      for (const t in tfA) { normA += tfA[t]*tfA[t]; if (tfB[t]) dot += tfA[t]*tfB[t]; }\n      for (const t in tfB) normB += tfB[t]*tfB[t];\n      if (!normA || !normB) return 0;\n      return dot / (Math.sqrt(normA) * Math.sqrt(normB));\n    }\n    function scoreCase(c, queryTF) {\n      const caseTF = buildTF(tokenize((c.fatos || '') + ' ' + (c.pedido_autor || '')));\n      const sim = cosineSimilarity(queryTF, caseTF);\n      const fb = c.feedback_util === true ? 1.0 : c.feedback_util === false ? 0.0 : 0.5;\n      return 0.6 * sim + 0.4 * fb;\n    }\n    const tipo = encodeURIComponent(tipoRaw);\n    const numero = encodeURIComponent(numeroRaw);\n    const url = SUPABASE_URL + '/rest/v1/contestacoes'\n      + '?select=numero_processo,tipo_acao,fatos,pedido_autor,n8n_resposta,status,feedback_util,criado_em'\n      + '&status=eq.ok'\n      + '&tipo_acao=eq.' + tipo\n      + '&numero_processo=neq.' + numero\n      + '&order=criado_em.desc&limit=10';\n    try {\n      const resp = await __FETCH(url, {\n        headers: { 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Content-Type': 'application/json' }\n      });\n      if (!resp.ok) {\n        const body = await resp.text().catch(() => '');\n        defesas_anteriores = { status: 'erro_http', detalhe: 'HTTP ' + resp.status + ': ' + body.slice(0,150), casos: [], total: 0 };\n      } else {\n        const rows = await resp.json();\n        if (!rows || rows.length === 0) {\n          defesas_anteriores = { status: 'sem_resultados', detalhe: 'nenhuma defesa anterior', casos: [], total: 0 };\n        } else {\n          const queryTF = buildTF(tokenize((dados.fatos_resumo || '') + ' ' + (dados.pedidos || []).join(' ')));\n          const casosRaw = rows.map(row => {\n            const minuta = (row.n8n_resposta || {}).minuta || {};\n            return {\n              numero_processo: row.numero_processo,\n              tipo_acao: row.tipo_acao,\n              fatos: row.fatos || '',\n              pedido_autor: row.pedido_autor || '',\n              feedback_util: row.feedback_util,\n              fatos_resumo: (row.fatos || '').slice(0, 500),\n              pedido_autor_resumo: (row.pedido_autor || '').slice(0, 300),\n              tese_central: minuta.tese_central || '',\n              resumo_estrategico: minuta.resumo_estrategico || '',\n              fundamentos_curtos: (minuta.fundamentos || '').slice(0, 1500),\n              riscos: (minuta.riscos || []).slice(0, 3),\n              criado_em: row.criado_em,\n              _score: 0\n            };\n          });\n          for (const c of casosRaw) c._score = scoreCase(c, queryTF);\n          casosRaw.sort((a, b) => b._score - a._score);\n          const relevantes = casosRaw.filter(c => c._score >= 0.1);\n          const casos = (relevantes.length > 0 ? relevantes : casosRaw).slice(0, 3);\n          for (const c of casos) { delete c._score; delete c.fatos; delete c.pedido_autor; delete c.feedback_util; }\n          defesas_anteriores = {\n            status: 'sucesso',\n            detalhe: casos.length + ' defesa(s) selecionada(s) de ' + rows.length + ' (TF-IDF fallback)',\n            casos, total: casos.length\n          };\n        }\n      }\n    } catch (e) {\n      defesas_anteriores = { status: e.__TIMED_OUT === true ? 'timeout_8s' : 'erro_conexao', detalhe: e.message, casos: [], total: 0 };\n    }\n  }\n}\n\n// Buscar exemplares few-shot (inalterado)\nlet exemplares_fewshot = [];\nif (ADMIN_TOKEN && tipoRaw) {\n  try {\n    const ex_resp = await __FETCH(\n      BACKEND_URL + '/api/admin/exemplares?tipo_acao=' + encodeURIComponent(tipoRaw),\n      { headers: { 'Authorization': 'Bearer ' + ADMIN_TOKEN, 'Content-Type': 'application/json' } });\n    if (ex_resp.ok) {\n      const ex_data = await ex_resp.json();\n      exemplares_fewshot = ex_data.exemplares || [];\n    }\n  } catch (_) {}\n}\n\nreturn [{ json: { ...envelope, defesas_anteriores, exemplares_fewshot } }];\n"
      }
    },
    {
      "id": "node-gerador-peticao",
      "name": "Claude Gerador de Contestacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n 2.17.5 JS sandbox shims (process, AbortController, fetch). Tudo em const.\nconst __AC_INIT = (() => { if (typeof globalThis.AbortController === 'undefined') { globalThis.AbortController = class { constructor() { this.signal = undefined; } abort() {} }; } return true; })();\nconst __PROC = (() => { try { return process.env || {}; } catch (_) { return {}; } })();\nconst __HTTP = (() => { try { if ($helpers && $helpers.httpRequest) return $helpers; } catch (_) {} try { if (typeof helpers !== 'undefined' && helpers && helpers.httpRequest) return helpers; } catch (_) {} try { if (this && this.helpers && this.helpers.httpRequest) return this.helpers; } catch (_) {} return null; })();\nconst __FETCH = async (url, opts) => {\n  opts = opts || {};\n  const method = opts.method || 'GET';\n  const headers = opts.headers || {};\n  let body = opts.body;\n  if (typeof body === 'string') { try { body = JSON.parse(body); } catch (_) { /* mantem string */ } }\n  if (!__HTTP) {\n    try { const r = await fetch(url, opts); return r; } catch (_) {}\n    throw new Error('http_unavailable: nem $helpers.httpRequest nem fetch global no sandbox');\n  }\n  try {\n    const r = await __HTTP.httpRequest({ url, method, headers, body, json: true, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    const status = r.statusCode || r.status || 200;\n    const data = (r.body !== undefined) ? r.body : r;\n    return {\n      ok: status >= 200 && status < 300, status,\n      json: async () => data,\n      text: async () => (typeof data === 'string' ? data : JSON.stringify(data || {})),\n    };\n  } catch (e) {\n    const status = e.statusCode || e.status || 500;\n    const msg = (e.message || '').slice(0, 500);\n    return { ok: false, status, json: async () => ({ error: msg }), text: async () => msg };\n  }\n};\n\n// PR9 P1.3 — retry com backoff exponencial para erros 429/529 da Anthropic\nasync function callClaudeWithRetry(url, opts, maxRetries) {\n  const RETRIES = maxRetries || 3;\n  const BACKOFF = [1000, 2000, 4000];\n  let lastErr = null;\n  for (let i = 0; i < RETRIES; i++) {\n    try {\n      const r = await __FETCH(url, opts);\n      // Se 429/529, aguarda e tenta de novo\n      if (r.status === 429 || r.status === 529) {\n        if (i < RETRIES - 1) {\n          await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n          lastErr = { status: r.status, msg: `rate_limit_${r.status}` };\n          continue;\n        }\n      }\n      return r;\n    } catch (e) {\n      lastErr = { status: 500, msg: e.message || String(e) };\n      if (i < RETRIES - 1) {\n        await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n        continue;\n      }\n    }\n  }\n  // Se chegou aqui, todas falharam — retorna ultimo resp ou erro fake\n  return { ok: false, status: (lastErr && lastErr.status) || 500, json: async () => ({ error: (lastErr && lastErr.msg) || 'all_retries_failed' }), text: async () => (lastErr && lastErr.msg) || 'all_retries_failed' };\n}\n\nconst envelope = $input.first().json;\nif (envelope.status === 'erro_validacao') return [{ json: envelope }];\n\nconst readEnv = (key, fb = '') => {\n  try {\n    if (typeof $vars !== 'undefined' && $vars && $vars[key]) return String($vars[key]).trim();\n    return ($env && $env[key]) ? String($env[key]).trim() : (__PROC[key] || fb);\n  } catch { return __PROC[key] || fb; }\n};\n\nconst stripFences = s => {\n  const cleaned = String(s || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return cleaned;\n  return cleaned.slice(first, last + 1);\n};\n\nconst ANTHROPIC_KEY = readEnv('ANTHROPIC_API_KEY') || readEnv('CLAUDE_API_KEY');\nconst CLAUDE_MODEL = readEnv('CLAUDE_MODEL') || 'claude-sonnet-4-6';\nconst BASE_URL = (readEnv('ANTHROPIC_BASE_URL') || 'https://api.anthropic.com').replace(/\\/$/, '');\nconst API_VERSION = readEnv('ANTHROPIC_VERSION') || '2023-06-01';\nconst TIMEOUT_MS = parseInt(readEnv('CLAUDE_TIMEOUT_MS', '120000'), 10) || 120000;\n\nconst dados = envelope.dados_extraidos || {};\nconst defesas = (envelope.defesas_anteriores || {}).casos || [];\nconst exemplares = envelope.exemplares_fewshot || [];\nconst contexto = envelope.contexto || {};\n\nlet fewShotBlock = '';\nif (exemplares.length > 0) {\n  fewShotBlock = '\\n\\n== EXEMPLOS DE ALTA QUALIDADE ==\\n' +\n    exemplares.map((ex, i) =>\n      `Exemplo ${i+1} (${ex.tipo_acao}):\\n  Tese: ${ex.tese_central}\\n  Fundamentos: ${(ex.fundamentos_resumo || '').slice(0,600)}`\n    ).join('\\n\\n');\n}\n\nconst SYSTEM_GERACAO = `Voce eh advogado especialista em contestacoes civis e trabalhistas no Brasil.\nTarefa: gerar minuta de contestacao baseada nos dados extraidos de uma peticao inicial.\n\n== REGRAS CRITICAS ==\n- Responda PONTO A PONTO cada pedido do autor (use a lista pedidos[]).\n- Ataque os pontos vulneraveis identificados pelo extrator.\n- Cite legislacao genericamente correta — NUNCA invente numero de acordao.\n- Estrutura: Preliminares (se couber) -> Merito -> Impugnacao dos Pedidos -> Pedidos.\n- Linguagem formal, sem superlativos, sem repetir fatos do autor sem contraposicao.\n- Se modelo_base_texto existir, preserve estilo e estrutura.${fewShotBlock}\n\nRetorne SOMENTE JSON valido:\n{\n  \"resumo_estrategico\": \"...\",\n  \"tese_central\": \"...\",\n  \"preliminares\": \"... ou null\",\n  \"merito\": \"texto do merito ponto a ponto\",\n  \"impugnacao_pedidos\": {\"pedido 1\": \"impugnacao...\", \"pedido 2\": \"...\"},\n  \"fundamentos\": \"fundamentos juridicos completos\",\n  \"pedidos\": \"pedidos da contestacao\",\n  \"observacoes\": \"...\",\n  \"riscos\": [\"risco 1\", \"risco 2\"]\n}`;\n\nlet defesasCtx = '';\nif (defesas.length > 0) {\n  defesasCtx = '\\n\\nDEFESAS ANTERIORES SIMILARES:\\n' +\n    defesas.map((c, i) => `Caso ${i+1}: Tese: ${c.tese_central} | Estrategia: ${c.resumo_estrategico}`).join('\\n');\n}\n\nconst pedidosStr = Array.isArray(dados.pedidos)\n  ? dados.pedidos.map((p, i) => `  ${i+1}. ${p}`).join('\\n')\n  : String(dados.pedidos || '');\n\nconst pontosFracosStr = Array.isArray(dados.pontos_vulneraveis)\n  ? dados.pontos_vulneraveis.map((p, i) => `  ${i+1}. ${p}`).join('\\n') : '';\n\nconst USER_MSG = `DADOS EXTRAIDOS DA PETICAO:\nProcesso: ${dados.numero_processo || 'nao identificado'}\nAutor: ${dados.autor}\nReu: ${dados.reu}\nTipo de acao: ${dados.tipo_acao}\nVara: ${dados.vara || 'nao informada'}\n\nFATOS NARRADOS PELO AUTOR:\n${dados.fatos_resumo || ''}\n\nPEDIDOS DO AUTOR:\n${pedidosStr}\n\nVALORES PLEITEADOS:\n${JSON.stringify(dados.valores || {})}\n\nARGUMENTOS CENTRAIS DO AUTOR:\n${(dados.argumentos_autor || []).join('; ')}\n\nPONTOS VULNERAVEIS PARA ATACAR:\n${pontosFracosStr}\n\nPONTOS ADICIONAIS DO ADVOGADO:\n${contexto.pontos_contestante || '(nenhum)'}\n\n${contexto.modelo_base_texto ? `MODELO BASE DO ESCRITORIO:\\n${contexto.modelo_base_texto}` : ''}\n${defesasCtx}`;\n\nlet minuta = null;\nlet provider = 'fallback';\nlet apiError = null;\nlet tokens_input = 0, tokens_output = 0;\n\nif (ANTHROPIC_KEY) {\n  try {\n    const resp = await callClaudeWithRetry(`${BASE_URL}/v1/messages`, {\n      method: 'POST',\n      headers: {\n        'x-api-key': ANTHROPIC_KEY,\n        'anthropic-version': API_VERSION,\n        'content-type': 'application/json',\n        'anthropic-beta': 'prompt-caching-2024-07-31'\n      },\n      body: JSON.stringify({\n        model: CLAUDE_MODEL,\n        max_tokens: 8000,\n        temperature: 0.12,\n        system: [{ type: 'text', text: SYSTEM_GERACAO, cache_control: { type: 'ephemeral' } }],\n        messages: [{ role: 'user', content: USER_MSG }]\n      })\n    });\n    if (!resp.ok) {\n      const e = await resp.text().catch(() => '');\n      throw new Error(`HTTP ${resp.status}: ${e.slice(0, 200)}`);\n    }\n    const payload = await resp.json();\n    // PR9 P3.1 — extrai tokens da resposta para observabilidade de custo\n    if (payload && payload.usage) {\n      tokens_input = parseInt(payload.usage.input_tokens, 10) || 0;\n      tokens_output = parseInt(payload.usage.output_tokens, 10) || 0;\n    }\n    const raw = (payload.content || []).filter(b => b.type === 'text').map(b => b.text).join('').trim();\n    minuta = JSON.parse(stripFences(raw));\n    // PR9 P2.3 — validar schema minimo da minuta apos parse do Claude\n    const _camposObrigatorios = ['resumo_estrategico', 'tese_central', 'merito', 'fundamentos', 'pedidos'];\n    const _camposFaltando = _camposObrigatorios.filter(c => !minuta[c] || !String(minuta[c]).trim());\n    if (_camposFaltando.length > 0) {\n      for (const c of _camposFaltando) {\n        minuta[c] = `[${c} nao gerado — revisar manualmente]`;\n      }\n      minuta._campos_incompletos = _camposFaltando;\n    }\n    provider = 'claude';\n  } catch (e) {\n    apiError = e.__TIMED_OUT === true ? `timeout_${TIMEOUT_MS}ms` : e.message;\n  } finally {\n    }\n}\n\nif (!minuta) {\n  // Fallback deterministico para nao bloquear o fluxo.\n  minuta = {\n    resumo_estrategico: `Contestacao ao processo ${dados.numero_processo || 'sem-numero'} - ${dados.tipo_acao}`,\n    tese_central: 'Improcedencia total dos pedidos por ausencia de fundamento legal e factual.',\n    preliminares: null,\n    merito: `Os pedidos formulados pelo autor carecem de fundamento juridico-factual.\\n${pedidosStr}`,\n    impugnacao_pedidos: Object.fromEntries((dados.pedidos || []).map(p =>\n      [String(p), 'Impugna-se por falta de prova e fundamento legal.']\n    )),\n    fundamentos: 'Onus da prova do autor (art. 818 CLT / art. 373 CPC). Ausencia de prova do alegado.',\n    pedidos: 'Improcedencia total. Honorarios advocaticios.',\n    observacoes: `Fallback (${apiError || 'sem chave Anthropic'}). Revise antes de protocolar.`,\n    riscos: ['Revisar apos extracao manual dos dados', 'Confirmar jurisprudencia aplicavel']\n  };\n}\n\nreturn [{ json: {\n  status: provider === 'fallback_local' ? 'erro_ia' : 'ok',\n  dados_extraidos: dados,\n  minuta,\n  engine_ia: { provider, model: CLAUDE_MODEL, api_error: apiError,\n      tokens_input,\n      tokens_output,\n      tokens_total: tokens_input + tokens_output,\n      custo_estimado_usd: tokens_input || tokens_output ? parseFloat(((tokens_input/1000000*3) + (tokens_output/1000000*15)).toFixed(6)) : 0 },\n    _debug: provider === 'fallback_local' ? { fallback_acionado: true, fallback_motivo: apiError || 'sem_chave_ou_erro' } : { fallback_acionado: false, fallback_motivo: null },\n  recebido_em: envelope.recebido_em,\n  processado_em: new Date().toISOString()\n}}];\n"
      }
    },
    {
      "id": "node-self-correction-peticao",
      "name": "Self-Correction Citacoes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// n8n 2.17.5 JS sandbox shims (process, AbortController, fetch). Tudo em const.\nconst __AC_INIT = (() => { if (typeof globalThis.AbortController === 'undefined') { globalThis.AbortController = class { constructor() { this.signal = undefined; } abort() {} }; } return true; })();\nconst __PROC = (() => { try { return process.env || {}; } catch (_) { return {}; } })();\nconst __HTTP = (() => { try { if ($helpers && $helpers.httpRequest) return $helpers; } catch (_) {} try { if (typeof helpers !== 'undefined' && helpers && helpers.httpRequest) return helpers; } catch (_) {} try { if (this && this.helpers && this.helpers.httpRequest) return this.helpers; } catch (_) {} return null; })();\nconst __FETCH = async (url, opts) => {\n  opts = opts || {};\n  const method = opts.method || 'GET';\n  const headers = opts.headers || {};\n  let body = opts.body;\n  if (typeof body === 'string') { try { body = JSON.parse(body); } catch (_) { /* mantem string */ } }\n  if (!__HTTP) {\n    try { const r = await fetch(url, opts); return r; } catch (_) {}\n    throw new Error('http_unavailable');\n  }\n  try {\n    const r = await __HTTP.httpRequest({ url, method, headers, body, json: true, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    const status = r.statusCode || r.status || 200;\n    const data = (r.body !== undefined) ? r.body : r;\n    return { ok: status >= 200 && status < 300, status, json: async () => data, text: async () => (typeof data === 'string' ? data : JSON.stringify(data || {})) };\n  } catch (e) {\n    const status = e.statusCode || e.status || 500;\n    const msg = (e.message || '').slice(0, 500);\n    return { ok: false, status, json: async () => ({ error: msg }), text: async () => msg };\n  }\n};\n\n// PR6 #2 — Self-Correction (Guia v3 §2.4)\n// Apos o Gerador montar a minuta, esta etapa pede ao Claude para revisar\n// TODAS as citacoes juridicas (leis, sumulas, acordaos, jurisprudencia) e\n// classificar cada uma como `verificada` ou `incerta`. Permite ao advogado\n// no frontend ver avisos antes de protocolar a peca.\n//\n// Custo: ~1 chamada Claude extra (~1500 tokens out, T=0.0). Vale a pena\n// porque alucinacoes em contexto juridico sao deal-breaker.\n\n\n// PR9 P1.3 — retry com backoff exponencial para erros 429/529 da Anthropic\nasync function callClaudeWithRetry(url, opts, maxRetries) {\n  const RETRIES = maxRetries || 3;\n  const BACKOFF = [1000, 2000, 4000];\n  let lastErr = null;\n  for (let i = 0; i < RETRIES; i++) {\n    try {\n      const r = await __FETCH(url, opts);\n      // Se 429/529, aguarda e tenta de novo\n      if (r.status === 429 || r.status === 529) {\n        if (i < RETRIES - 1) {\n          await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n          lastErr = { status: r.status, msg: `rate_limit_${r.status}` };\n          continue;\n        }\n      }\n      return r;\n    } catch (e) {\n      lastErr = { status: 500, msg: e.message || String(e) };\n      if (i < RETRIES - 1) {\n        await new Promise(res => setTimeout(res, BACKOFF[i] || 4000));\n        continue;\n      }\n    }\n  }\n  // Se chegou aqui, todas falharam — retorna ultimo resp ou erro fake\n  return { ok: false, status: (lastErr && lastErr.status) || 500, json: async () => ({ error: (lastErr && lastErr.msg) || 'all_retries_failed' }), text: async () => (lastErr && lastErr.msg) || 'all_retries_failed' };\n}\n\nconst envelope = $input.first().json;\nif (envelope.status !== 'ok' || !envelope.minuta) {\n  // Pass-through se o pipeline ja chegou aqui em estado de erro/fallback.\n  return [{ json: envelope }];\n}\n\nconst readEnv = (key, fb = '') => {\n  try {\n    if (typeof $vars !== 'undefined' && $vars && $vars[key]) return String($vars[key]).trim();\n    if (typeof $env !== 'undefined' && $env && $env[key]) return String($env[key]).trim();\n  } catch (_) {}\n  return __PROC[key] || fb;\n};\n\nconst stripFences = s => {\n  const cleaned = String(s || '').trim().replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/i, '').trim();\n  const first = cleaned.indexOf('{');\n  const last = cleaned.lastIndexOf('}');\n  if (first === -1 || last === -1 || last < first) return cleaned;\n  return cleaned.slice(first, last + 1);\n};\n\nconst ANTHROPIC_KEY = readEnv('ANTHROPIC_API_KEY') || readEnv('CLAUDE_API_KEY');\nconst CLAUDE_MODEL = readEnv('CLAUDE_VERIFICACAO_MODEL') || readEnv('CLAUDE_MODEL') || 'claude-sonnet-4-6';\nconst BASE_URL = (readEnv('ANTHROPIC_BASE_URL') || 'https://api.anthropic.com').replace(/\\/$/, '');\nconst API_VERSION = readEnv('ANTHROPIC_VERSION') || '2023-06-01';\nconst TIMEOUT_MS = 60000;\n\n// Texto da minuta para o Claude inspecionar — concatena as secoes que\n// tipicamente carregam citacoes juridicas.\nconst m = envelope.minuta;\nconst textoMinuta = [\n  m.tese_central, m.preliminares, m.merito,\n  m.fundamentos, m.pedidos, m.observacoes,\n].filter(Boolean).join('\\n\\n');\n\nconst SYSTEM_VERIFICACAO = `Voce eh um revisor juridico criterioso que verifica citacoes em\nminutas de contestacao brasileiras. Sua unica funcao eh listar TODAS as\ncitacoes juridicas presentes (leis, artigos, sumulas, acordaos, decisoes\nde tribunais, doutrina, jurisprudencia) e classificar cada uma quanto a\nsua confianca de que existem e sao aplicaveis ao contexto.\n\nRetorne SOMENTE JSON valido (sem markdown, sem codeblock):\n{\n  \"citacoes\": [\n    {\"texto\": \"string EXATA como aparece na minuta\", \"tipo\": \"lei|sumula|acordao|jurisprudencia|doutrina\", \"classificacao\": \"verificada|incerta\", \"motivo\": \"string curto explicando — obrigatorio se incerta\"}\n  ]\n}\n\nREGRAS:\n- \"verificada\": alta confianca de que a citacao existe E foi corretamente atribuida.\n  Ex: \"art. 7, XVI, CF/88\", \"CLT, art. 73\", \"art. 818 da CLT\", \"art. 373, II, CPC\".\n- \"incerta\": qualquer duvida — numero de acordao especifico, sumula com numeracao\n  duvidosa, jurisprudencia atribuida sem fonte clara, doutrina paragrafrada.\n  Sempre marque como incerta acordaos com numero (ex: \"STJ, REsp 1.234.567/SP\")\n  porque numeros especificos sao a fonte mais comum de alucinacao.\n- Se nao houver citacoes na minuta, retorne {\"citacoes\": []}.\n- \"texto\" deve ser um snippet curto (max 200 chars) do que aparece na minuta.`;\n\nconst USER_VERIFICACAO = `MINUTA A REVISAR:\n\n${textoMinuta}`;\n\nlet resultado = { citacoes: [] };\nlet provider = 'fallback';\nlet apiError = null;\nlet tokens_input = 0, tokens_output = 0;\n\nif (ANTHROPIC_KEY) {\n  try {\n    const resp = await callClaudeWithRetry(`${BASE_URL}/v1/messages`, {\n      method: 'POST',\n      headers: {\n        'x-api-key': ANTHROPIC_KEY,\n        'anthropic-version': API_VERSION,\n        'content-type': 'application/json',\n        'anthropic-beta': 'prompt-caching-2024-07-31',\n      },\n      body: {\n        model: CLAUDE_MODEL,\n        max_tokens: 1500,\n        temperature: 0,\n        system: [{ type: 'text', text: SYSTEM_VERIFICACAO, cache_control: { type: 'ephemeral' } }],\n        messages: [{ role: 'user', content: USER_VERIFICACAO }],\n      },\n    });\n\n    if (resp.ok) {\n      const payload = await resp.json();\n    // PR9 P3.1 — extrai tokens da resposta para observabilidade de custo\n    if (payload && payload.usage) {\n      tokens_input = parseInt(payload.usage.input_tokens, 10) || 0;\n      tokens_output = parseInt(payload.usage.output_tokens, 10) || 0;\n    }\n      const raw = (payload.content || []).filter(b => b.type === 'text').map(b => b.text).join('').trim();\n      if (raw) {\n        try {\n          resultado = JSON.parse(stripFences(raw));\n          provider = 'claude';\n        } catch (e) {\n          apiError = `parse_error: ${e.message}`;\n        }\n      } else {\n        apiError = 'resposta_vazia';\n      }\n    } else {\n      apiError = `http_${resp.status}`;\n    }\n  } catch (e) {\n    apiError = e.message || 'erro_desconhecido';\n  }\n} else {\n  apiError = 'sem_chave_anthropic';\n}\n\n// Sanitiza estrutura de saida.\nconst citacoes = Array.isArray(resultado.citacoes) ? resultado.citacoes : [];\nconst verificadas = [];\nconst incertas = [];\n\nfor (const c of citacoes) {\n  if (!c || typeof c !== 'object') continue;\n  const item = {\n    texto: String(c.texto || '').slice(0, 200),\n    tipo: ['lei', 'sumula', 'acordao', 'jurisprudencia', 'doutrina'].includes(String(c.tipo))\n      ? String(c.tipo) : 'desconhecido',\n    motivo: String(c.motivo || '').slice(0, 300),\n  };\n  if (c.classificacao === 'incerta') {\n    incertas.push(item);\n  } else if (c.classificacao === 'verificada') {\n    delete item.motivo; // nao precisa motivo para verificadas\n    verificadas.push(item);\n  }\n}\n\nreturn [{\n  json: {\n    ...envelope,\n    citacoes_verificadas: verificadas,\n    citacoes_incertas: incertas,\n    self_correction: { provider, model: CLAUDE_MODEL, api_error: apiError,\n      tokens_input,\n      tokens_output,\n      tokens_total: tokens_input + tokens_output,\n      custo_estimado_usd: tokens_input || tokens_output ? parseFloat(((tokens_input/1000000*3) + (tokens_output/1000000*15)).toFixed(6)) : 0 },\n  },\n}];\n"
      }
    },
    {
      "id": "node-responder-peticao",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1500,
        300
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $input.first().json }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "node-checar-validacao",
      "name": "Checar Validacao",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status-erro",
              "leftValue": "={{ $json.status }}",
              "rightValue": "erro_validacao",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "cond-status-erro-auth",
              "leftValue": "={{ $json.status }}",
              "rightValue": "erro_auth",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "node-responder-erro",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        900,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.status === 'erro_auth' ? 401 : 422 }}"
        }
      }
    }
  ],
  "connections": {
    "Webhook Contestar por Peticao": {
      "main": [
        [
          {
            "node": "Validar Entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Entrada": {
      "main": [
        [
          {
            "node": "Checar Validacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Extrator": {
      "main": [
        [
          {
            "node": "Buscar Defesas Anteriores Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Defesas Anteriores Supabase": {
      "main": [
        [
          {
            "node": "Claude Gerador de Contestacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Gerador de Contestacao": {
      "main": [
        [
          {
            "node": "Self-Correction Citacoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Self-Correction Citacoes": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checar Validacao": {
      "main": [
        [
          {
            "node": "Claude Extrator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}